@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cherish&family=Cinzel+Decorative&family=Corinthia&family=Gwendolyn:wght@400;700&family=Kaushan+Script&family=Lobster&family=Lobster+Two:ital,wght@1,700&family=Mea+Culpa&family=MonteCarlo&family=Playfair+Display:ital@1&family=Praise&family=Tangerine&display=swap");
/* html {
  scroll-behavior: smooth;
  overflow: scroll;
} */
*{
    padding: 0%;
    margin: 0;
    
}
html{
  scroll-behavior: smooth;
}
.btn:hover {
  color: black;
  
  
  
}

body {
    background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.384),
      rgba(0, 0, 0) ),
      url("images/portfolio-6.jpg");
    background-size: 100% auto;
     
    background-repeat: no-repeat; 
  }
  h5 {
    
    font-size: medium;
    font-weight: bolder;
    font-family: "Gloss_And_Bloom ", sans-serif;
  }
  p {
    
    font-weight: bold;
    font-size: small;
    font-family: "Gloss_And_Bloom ", sans-serif;
  }
  #uy {
    font-size: 5.5rem;
    font-style: normal;
    margin-top: 3rem;
    
    font-family: Gloss_And_Bloom , sans-serif;
  }
  .signature {
    font-style: italic;
    font-size: 12px;
    color: #000000;
    padding-top: 15px;
    transition: all 0.3s ease-in-out;
  }
  .signature:hover {
    color: white;
  }
  .content2 {
    display: flex;
  }
  
  .navigationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
  .container {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .ourclient
  {
    background: linear-gradient(rgba(0, 0, 0, 0.705) , rgba(0, 0, 0, 0.705)), url("img/hester-qiang-bSrqpoOz7Ec-unsplash.jpg");
    background-size: cover;
    height: 56vh;
    align-items: center;
    text-align: center;
    
    
  }
  .card-group img
  {
    background: linear-gradient(rgba(0, 0, 0, 0.61) , rgba(0, 0, 0, 0.61));
  }
  /* .ourclient img
  {
    margin: 3.5rem;
    padding-top: 4.2rem;
  } */
  .logoWrapper {
    display: flex;
  }
  
  .stylish {
    font-weight: bolder;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    
    font-family: "Gloss_And_Bloom", sans-serif;
  }
  
  .logo {
    padding-left: 2px;
    color: #e2b13c;
  }
  
  .navigation {
    display: flex;
    list-style-type: none;
  }
  
  li {
    opacity: 1;
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.8s ease-in-out;
  }
  
  .parent {
    padding: 0 5px;
    cursor: pointer;
  }
  .link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    outline: none;
    color: rgb(65, 65, 65);
    font-size: larger;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding-top: 1rem;
  }
  .link:hover {
    color: #e2b13c;
    text-decoration: none;
    outline: none;
    transform: scale(1.1);
  }
  
  .fa-minus {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: -16px;
    top: 3px;
  }
  
  .fa-plus {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  
  .fas {
    color: #e2b13c;
    margin: -2px 4px 0;
    font-size: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .subnavigation {
    display: none;
    list-style-type: none;
    width: 500px;
    position: absolute;
    top: 40%;
  }
  .main-box {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 3.5rem;
  }
  /* .box {
    transition: 1s;
    display: flex;
    width: 100%;
    height: 70vh;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease;
  }
   */
  .responsive { 
    width: 40%;
    height: auto;
  }
  .responsive1 {
    width: 15%;
    height: auto;
  }
  .responsive::before {
    width: 47%;
    height: auto;
    border: 2px 2px black;
  }
  #lg {
    width: 50%;
    height: auto;
   } 
  

  .sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: rgba(2, 2, 2, 0.89);
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all 0.5s;
   } 
  
   li { 
    display: inline-block;
    margin: 10px;
  }
  

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

#zee {
  width: 80%;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
}
li {
  display: inline-block;
  margin: 10px;
}
.download {
  width: 175px;
  height: 65px;
  background: rgb(0, 0, 0);
  float: left;
  border-radius: 8px;
  position: relative;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.download .fa {
  color: #fff;
  position: absolute;
  top: 45%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.p1,
.p2 {
  position: absolute;
  left: 70px;
}
.p1 {
  top: 10px;
  font-size: 12px;
}
.p2 {
  top: 25px;
  font-size: 16px;
}
.download:hover {
  filter: invert(100%);
}

h3 {
  color: black;
}
.box .content a {
  background: #000;
  width: 12rem;
  height: 3rem;
}
.footer-main {
  background: rgb(0, 0, 0);
  padding: 65px 0 0;
}
.footer-main .logo-block {
  padding: 70px 0;
  text-align: center;
  border-bottom: 1px solid #222222;
  margin-bottom: 40px;
}
.footer-main .ftr-widget {
  margin-bottom: 80px;
  display: inline-block;
}
.footer-main .widget_about a.navbar-brand {
  float: none;
  height: auto;
  padding: 0;
}
.footer-main .widget_about p {
  color: #ffffff;
  font-size: 14px;
  font-family: "PT Serif", serif;
  letter-spacing: 0.28px;
  line-height: 26px;
  padding-right: 35px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.footer-main .widget_about ul {
  padding-left: 0;
  margin-bottom: 0;
}
.footer-main .widget_about ul li {
  display: inline-block;
  margin-right: 0px;
}
.footer-main .widget_about ul li a {
  color: #ffffff;
  display: inline-block;
  border-radius: 0%;
  height: 39px;
  width: 39px;
  line-height: 39px;
  text-align: center;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.footer-main .widget_about ul li a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.footer-main h3.widget-title {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 26px;
  letter-spacing: 0.64px;
  padding-bottom: 30px;
}
.footer-main h3.widget-title::before {
  background-color: #e2b13c;
  border-right: 4px solid #fff;
  box-shadow: -3px 0 0 0 #111 inset;
  content: "";
  display: inline-block;
  height: 2px;
  bottom: 0;
  position: absolute;
  width: 60px;
}

.footer-main .widget_link ul {
  padding-left: 0;
  list-style: none;
}
.footer-main .widget_link ul li {
  margin-bottom: 22px;
}
.footer-main .widget_link ul li.col-md-6 {
  padding-left: 0;
}
.footer-main .widget_link ul li a {
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 15px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  text-decoration: none;
}
.footer-main .widget_link ul li a:hover {
  color: #ffffff;
}
.footer-main .copyright {
  border-top: 1px solid #838383;
  padding: 23px 0;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: #ebebeb;
}
.footer-main .copyright p {
  font-family: "PT Serif", serif;
  font-size: 14px;
  margin-bottom: 0;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}
.footer-main .widget_subscribe .form-control {
  background-color: #000;
  border: none;
  box-shadow: none;
  border-radius: 0;
  display: inline-block;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 12px;
  height: 45px;
  padding: 6px 30px;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
  width: 100%;
}
.footer-main .widget_subscribe .form-control::-webkit-input-placeholder {
  color: #777;
}
.footer-main .widget_subscribe .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #777;
}
.footer-main .widget_subscribe .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #777;
}
.footer-main .widget_subscribe .form-control:-ms-input-placeholder {
  color: #777;
}
.footer-main .widget_subscribe .form-control:focus {
  border: none;
}
.footer-main .widget_subscribe button {
  background-color: #ff0000;
  border: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.84px;
  padding: 12px 0;
  text-transform: uppercase;
  text-decoration: none;
  width: 50%;
  /* -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  /* -o-transition: all 1s ease 0s; */
  transition: all 0.5s ease 0s;
}
.footer-main .widget_subscribe button:hover {
  transform: scale(1.1);
}



h5{
  color: #000;
  font-family: "Glass_And_Bloom",sans-serif;
}

.btn{
  color: white;
}

.ourclient
{
  background: linear-gradient(rgba(0, 0, 0, 0.705) , rgba(0, 0, 0, 0.705)), url("img/hester-qiang-bSrqpoOz7Ec-unsplash.jpg");
  background-size: cover;
  height: 56vh;
  align-items: center;
  text-align: center;
  padding-top: 6rem;
  
  
  
}



























.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
#fbcomment{
  background:#fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  color: #4b4f56;
  padding:50px;
}
.header_comment{
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid #e9ebee;
    line-height: 25px;
    margin-bottom: 24px;
    padding: 10px 0;
}
.sort_title{
  color: #4b4f56;
}
.sort_by{
  background-color: #f5f6f7;
  color: #4b4f56;
  line-height: 22px;
  cursor: pointer;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  padding: 4px;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #ccd0d5;
}
.count_comment{
  font-weight: 600;
}
.body_comment{
    padding: 0 8px;
    font-size: 14px;
    display: block;
    line-height: 25px;
    word-break: break-word;
}
.avatar_comment{
  display: block;
}
.avatar_comment img{
  height: 48px;
  width: 48px;
}
.box_comment{
	display: block;
    position: relative;
    line-height: 1.358;
    word-break: break-word;
    border: 1px solid #d3d6db;
    word-wrap: break-word;
    background: #fff;
    box-sizing: border-box;
    cursor: text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
	padding: 0;
}
.box_comment textarea{
	min-height: 40px;
	padding: 12px 8px;
	width: 100%;
	border: none;
	resize: none;
}
.box_comment textarea:focus{
  outline: none !important;
}
.box_comment .box_post{
	border-top: 1px solid #d3d6db;
    background: #f5f6f7;
    padding: 8px;
    display: block;
    overflow: hidden;
}
.box_comment label{
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #90949c;
  line-height: 22px;
}
.box_comment button{
  margin-left:8px;
  background-color: #e2b13c;
  border: 1px solid #4267b2;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.box_comment button:hover{
  background-color: darkred;
  border-color: #29487d;
}
.box_comment .cancel{
	margin-left:8px;
	background-color: #f5f6f7;
	color: #4b4f56;
	text-decoration: none;
	line-height: 22px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-align: center;
  border-color: #ccd0d5;
}
.box_comment .cancel:hover{
	background-color: #d0d0d0;
	border-color: #ccd0d5;
}
.box_comment img{
  height:16px;
  width:16px;
}
.box_result{
  margin-top: 24px;
}
.box_result .result_comment h4{
  font-weight: 600;
  white-space: nowrap;
  color: #e2b13c;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin:0;
}
.box_result .result_comment{
  display:block;
  overflow:hidden;
  padding: 0;
}
.child_replay{
	border-left: 1px dotted #d3d6db;
	margin-top: 12px;
	list-style: none;
	padding:0 0 0 8px
}
.reply_comment{
	margin:12px 0;
}
.box_result .result_comment p{
  margin: 4px 0;
  text-align:justify;
}
.box_result .result_comment .tools_comment{
  font-size: 12px;
  line-height: 1.358;
}
.box_result .result_comment .tools_comment a{
  color: #4267b2;
  cursor: pointer;
  text-decoration: none;
}
.box_result .result_comment .tools_comment span{
  color: #90949c;
}
.body_comment .show_more{
  background: #e2b13c;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  padding: 12px;
  text-shadow: none;
  width: 100%;
  font-weight:bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}